@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.DetailModel
@{
}
@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}


<div>
    @Model.Restaurant.Name
</div>


<div>
    ID: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>
<a asp-page="./List" class="btn btn-secondary">Restaurants page</a>

